<div class="container">
  <div class="row">
    <div class="span12 text-center"><h2>Enter your boring text below!!!</h2></div>
  </div>
  <div class="row">
    <div class="span12 text-center">
      <%= simple_form_for @song do |f| %>
        <%= f.text_area :original_text %>
    </div>
  </div>
  <div class="row">
    <div class="span12 text-center ">
        <%= f.button :submit, 'Poet!', class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>


