<div class="row">
    <div class="span6">
      <p><%= @song.original_text %></p>
      <%= render "options_form" %>
    </div>
    <div class="span6">
          <% @song.stanzas.each do |stanza| %>
        <table class="table">
            <% stanza.lines.each do |line| %>
            <tr>
              <td><%= line.words.collect {|word| word.to_s } %></td>
              <td><%= line.syllables %></td>
            </tr>
            <% end %>
            <tr><td><br/><td></tr>
            <%#fail%>
        </table>
          <% end %>
    </div>
  </div>
  </div>
</div>
