/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


.bottom-bar {
  padding-top: 5px;
  padding-bottom: 5px;
}

.about-us {
  padding-top: 10px;
}

#margin-override {
  margin-bottom: 0px;
}

tr.stanza {
  border-bottom: solid 3px #000;
}
#testxxx2 {
  color: white;
}


/*javascript stuff*/
.ui-dialog-titlebar {
  margin-bottom: 4px;
}
button.ui-button {
  float: right;
  height: 23px;
  /*border-radius: 1px;*/
}
.replacement-word:hover {
  text-decoration: underline;
}
.input-append {
  margin-left: 5px;
}
/*
.ui-menu {
  width: 1300px;
}

.ui-dialog {
  border: solid 1px black;
  background-color: #aaa;
  width: 20px;
}*/

.tool-buttons {
  width: 105px;
}

.selected-word {
  font-weight: bold;
}


